{% extends "@panel/base.html.twig" %}
{% block subheader_outer %}{% endblock %}
{% block header_title %}<i class="fa-solid fa-route"></i> Route{% endblock %}
{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item">Settings</li>
<li class="breadcrumb-item active" aria-current="page">Route</li>
{% endblock %}

{% block content %}
<section class="p-3">
    <article>

        {% for stack in route_stack %}

        <h2 class="fs-4">{{ stack.name }}</h2>

        <ul class="mb-3">
            {% for route in stack.routes %}

            <li class="mb-2">
                {{ route.path | url | raw }}
                <br>
                <i class="fa-solid fa-turn-up fa-rotate-90"></i> <code class="ms-1">{{ route.controller | raw }}</code>
            </li>
            {% else %}

            <div class="text-muted fs-2">Tidak ada route</div>
            {% endfor %}
        </ul>

        {% endfor %}
    </article>
</section>
{% endblock %}