body {
    & .sidenav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 0;
        transition: 0.25s;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: white;
        z-index: 900;

        &.open {
            max-width: 250px;
        }

        & .container {
            min-width: max-content;
            height: 100vh;
        }
        & .nav-menu {
            list-style: none;
            padding-left: 0;
            position: relative;

            & .nav-item {
                padding: 0.5rem 1rem;
                position: relative;
                color: #31587a4b;
                &.active {
                    color: #0088ff;
                }
                &:hover {
                    color: #005fb2;
                }
                & a {
                    text-decoration: none;
                    color: currentColor;
                }
                &:has(.nav-menu) {
                    & .nav-menu {
                        border-left: 2px solid #31587a4b;
                        margin-left: 0.475rem;
                    }
                }
                &:has(.nav-item.active) {
                    color: #31587a91;

                    &:has(.nav-menu) {
                        & .nav-menu {
                            border-left: 2px solid #31587a91;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 1024px) {
            max-width: 250px;
            & .btn-close {
                display: none;
            }
        }
    }
    &:has(.sidenav) {
        @media screen and (min-width: 1024px) {
            padding-left: 250px;
        }
    }
}
