<body id="ictz">
    <div class="gjs-row" id="ioze">
        <div class="gjs-cell" id="iehf">
            <comp:article:title id="1707481854891"></comp:article:title>
        </div>
    </div>
    <div class="gjs-row" id="ibfr">
        <div class="gjs-cell" id="iu6g"></div>
        <div class="gjs-cell" id="i4tg"><img id="iyet" src="/public/upload/2023-09-4/logo.png" /></div>
    </div>
</body>