$icons: (
    "default":
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z'/%3E%3C/svg%3E")
);

:root {
    --widget-color-primary: #7dc2ff;
    --widget-color-primary-active: #51aeff;
    --widget-color-primary-disabled: #c9e6ff;
    --widget-color-danger: #ff7f7f;
    --widget-color-danger-active: #ff4d4d;
    --widget-color-danger-disabled: #ffcccc;
    @each $name, $value in $icons {
        --widget-ic-#{$name}: #{$value};
    }
}
@each $name, $value in $icons {
    .ic-#{$name} {
        mask-image: var(--widget-ic-#{$name});
    }
}
.widget-ic {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    color: currentColor;
    background-color: currentColor;
    flex-shrink: 0;
}

.widget-container {
    display: block;
    position: relative;
    padding: 1rem;

    .widget-block-container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2rem;
        margin-top: 5rem;

        &[widget-container-title] {
            min-height: 80px;

            &::after {
                content: attr(widget-container-title);
                position: absolute;
                bottom: 100%;
                margin-bottom: 15px;
                left: 0px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .widget-block {
        position: relative;
        background-color: #fafafa;
        box-shadow: 0 0 2px rgba(215, 215, 215, 0.4);
        border-radius: 0.3rem;
        min-height: 80px;
        min-width: 250px;
    }
}

body.widget-editing {
    user-select: none !important;

    &.scrolling-disabled {
        overflow: hidden !important;
    }
    & .widget-container {
        min-height: 80vh;
        margin-bottom: 10rem;

        & > .widget-temp {
            margin-top: 5rem !important;
            &::before {
                width: calc(100% + 30px) !important;
                height: calc(100% + 30px) !important;
                top: -15px !important;
                left: -15px !important;
            }
        }

        & .widget-temp {
            background-color: transparent !important;
            background: repeating-linear-gradient(
                140deg,
                var(--widget-color-primary-disabled) 0,
                var(--widget-color-primary-disabled) 20px,
                transparent 20px,
                transparent 40px
            );
            border-radius: 0 !important;
            box-shadow: none !important;
            opacity: 0.5;
        }

        & .widget-block-container {
            position: relative;
            &::before {
                content: "";
                display: block;
                width: calc(100% + 30px);
                height: calc(100% + 30px);
                position: absolute;
                top: -15px;
                left: -15px;
                border: var(--widget-color-primary-disabled) dashed 2px;
            }

            &[widget-container-title] {
                &::after {
                    content: attr(widget-container-title);
                    position: absolute;
                    bottom: 100%;
                    left: 0px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &:not(:has(.widget-block)) {
                min-height: 80px;
            }
        }

        & .widget-block {
            position: relative;
            &:hover {
                &::before {
                    border-color: var(--widget-color-primary-active);
                }
            }
            &::before {
                content: "";
                display: block;
                width: calc(100% + 16px);
                height: calc(100% + 16px);
                position: absolute;
                top: -8px;
                left: -8px;
                border: var(--widget-color-primary-disabled) dashed 2px;
            }
        }
        & .edit-tools {
            position: relative;
            padding: 0;
            box-shadow: unset;

            &::before {
                background-color: var(--widget-color-primary-disabled);
                border-color: var(--widget-color-primary);
            }
            &:hover {
                & .edit-tool {
                    background-color: var(--widget-color-primary-disabled);
                    color: #fff;
                    opacity: 1;

                    &:hover {
                        background-color: var(--widget-color-primary-active);
                    }
                }
            }
            & .edit-tool {
                position: absolute;
                z-index: 99;
                width: 32px;
                height: 32px;
                background: var(--widget-color-primary-disabled);
                color: var(--widget-color-primary);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                transition: 0.2s all;
                opacity: 0.5;
                &.resize-horizontal {
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                }
                &.resize-vertical {
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.resize-remove {
                    bottom: 100%;
                    left: 100%;
                    background-color: var(--widget-color-danger-disabled);
                    color: var(--widget-color-danger);
                    &:hover {
                        background-color: var(--widget-color-danger-active);
                    }
                }
                &.active {
                    background-color: var(--widget-color-primary-active);
                }
            }

            & .widget-block {
                &::before {
                    border-color: var(--widget-color-primary);
                }
                &::after {
                    content: unset;
                }
            }
        }
    }

    & .widget-toolbar {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 0;
        width: 100%;
        height: 100%;
        transition: 0.15s;
        z-index: 999;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        display: flex;

        @media screen and (min-width: 1024px) {
            max-width: 0;
            max-height: unset;
            top: unset;
            bottom: 0;
            &.open {
                max-width: 189px;
            }
        }

        @media screen and (max-width: 1024px) {
            max-width: unset;
            max-height: 0;
            top: unset;
            bottom: 0;
            &.open {
                max-height: 189px;
            }
        }

        & * {
            user-select: none !important;
        }

        & .toolbar-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
            min-width: 171px;
            min-height: 171px;
            max-width: inherit;
            max-height: inherit;
            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }

            & .toolbar-category {
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: flex-start;
                justify-content: flex-start;
                align-items: flex-start;
                transition: 0.5s all;
                margin: 0.5rem 0;
                padding-bottom: 0.3rem;
                &.open {
                    & .toolbar-category-title {
                        & i::before {
                            content: "\f107";
                        }
                    }
                    & .toolbar-category-body {
                        max-height: 200px;
                        overflow: auto;
                        border-color: #d6ecff;
                    }
                }
                & .toolbar-category-title {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    transition: 0.5s all;
                    
                    & i {
                        margin-left: auto;
                        margin-right: 0.3rem;
                        transition: 0.5s all;
                    }
                }
                & .toolbar-category-body {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    align-items: flex-start;
                    min-width: 171px;
                    min-height: 0px;
                    max-width: inherit;
                    max-height: 0px;
                    overflow: hidden;
                    transition: 0.5s all;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    border-bottom: 1px solid #ffffff00;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }

        &.open {
            & .widget-toolbox {
                animation: delayVisible 0.35s ease-in-out 1 forwards;
            }

            @keyframes delayVisible {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    // toolbox
    .widget-toolbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        border: #d3eaff 1px solid;
        border-radius: 0.3rem;
        background-color: #ffffff00;
        margin: 0.2rem;
        width: 80px;
        height: 80px;
        opacity: 0;
        cursor: pointer;

        &::before {
            content: unset;
        }
        &::after {
            content: unset;
        }
        &:hover {
            background-color: #d3eaff;
        }
        &.dragging {
            background-color: #f1f8ff;
            color: rgb(168, 168, 168);
            border-color: #d3eaff;
            & .toolbox-icon {
                background: #f1f8ff;
            }
        }

        & .toolbox-icon {
            background: #d3eaff;
            width: 40px;
            height: 40px;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .toolbox-name {
            margin-top: 0.3rem;
            font-size: 9.5px;
        }

        &.widget-block-container {
            flex: 1 1 100%;
            border-color: #ffe1e1;
            &:hover {
                background-color: #ffe1e1;
            }
            &.dragging {
                background-color: #ffe1e1;
                border-color: #ffb2b2;
                & .toolbox-icon {
                    background: #ffe1e1;
                }
            }
            & .toolbox-icon {
                background: #ffe1e1;
            }
        }
    }
}
