{% extends "@admin::panel/base.html.twig" %}
{% block header_title %}Config Content{% endblock %}


{% block head_javascripts %}
<script src="{{ '@template/assets/dist/index.bundle.js' | assets }}"></script>
{% endblock %}



{% block subheader %}{% endblock %}



{% block content %}


<form class="py-5 max-w-[800px]">


    <section class="bg-white mb-3 p-4 rounded shadow">
        <header>
            <h2 class="text-xl">Content Template</h2>
        </header>
        <article>
            <label class="ps-3 w-full opacity-50 text-sm" for="website_timezone">Select template for content</label>
            <select class="text-input" name="website_timezone" id="website_timezone">

            </select>
        </article>
    </section>


    <section class="bg-white mb-3 p-4 rounded shadow">
        <header>
            <h2 class="text-xl">Slug Format</h2>
        </header>
        <article>
            <label class="ps-3 w-full opacity-50 text-sm" for="website_email">Select slug format</label>

            <div class="pt-3">
                <div class="mb-3">
                    <label class="ms-3 cursor-pointer flex items-center gap-4">
                        <input type="radio" name="slug" value="">
                        <div>
                            /content/{id}
                            <small class="block italic text-gray-400">example : /content/123</small>
                        </div>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="ms-3 cursor-pointer flex items-center gap-4">
                        <input type="radio" name="slug" value="">
                        <div>
                            /content/{id}/{title}
                            <small class="block italic text-gray-400">example : /content/123/content-title</small>
                        </div>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="ms-3 cursor-pointer flex items-center gap-4">
                        <input type="radio" name="slug" value="">
                        <div>
                            /content/{category}/{id}
                            <small class="block italic text-gray-400">example : /content/default/123</small>
                        </div>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="ms-3 cursor-pointer flex items-center gap-4">
                        <input type="radio" name="slug" value="">
                        <div>
                            /content/{category}/{id}/{title}
                            <small class="block italic text-gray-400">example : /content/default/123/content-title</small>
                        </div>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="ms-3 cursor-pointer flex items-center gap-4">
                        <input type="radio" name="slug" value="">
                        /content/{id}
                        <small class="block italic text-gray-400">example : /content/123</small>
                    </label>
                </div>
            </div>
        </article>
    </section>


    <div class="flex mt-5">
        <button type="submit" class="ms-auto bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
            save
        </button>
    </div>
</form>

{% endblock %}



{% block javascripts %}
{% endblock %}