html,
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0.3rem 0.6rem;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(78, 78, 78);
    font-size: 1.5em;
    font-weight: 800;
    margin: 0.3rem 0;
}