[submodule "include/Module/include/Module/Dashboard"]
	path = include/Module/include/Module/Dashboard
	url = https://github.com/MerapiPanel/Dashboard
[submodule "include/Module/Dashboard"]
	path = include/Module/Dashboard
	url = https://github.com/MerapiPanel/Dashboard
[submodule "include/Module/Website"]
	path = include/Module/Website
	url = https://github.com/MerapiPanel/Website
[submodule "include/Module/FileManager"]
	path = include/Module/FileManager
	url = https://github.com/MerapiPanel/FileManager
[submodule "include/Module/Panel"]
	path = include/Module/Panel
	url = https://github.com/MerapiPanel/Panel.git
