{% extends "@setting/base.html.twig" %}


{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ '/users' | access_path }}">Users</a></li>
<li class="breadcrumb-item active" aria-current="page">Avatar Setting</li>
{% endblock %}





{% block page_title %}Avatar Setting{% endblock %}


{% set form_setting %}
<div class="row py-3">
    <div class="col-12 col-lg-6 mb-3">
        <section class="mb-3 p-3 shadow-sm">
            <header class="mb-3">
                <h4 class="fs-2">Avatar</h4>
            </header>
          
        </section>
    </div>

</div>
{% endset %}




{% block form %}
{{ _self.process(form_setting) }}
{% endblock %}