{% extends "base.html.twig" %}


{% block content %}
<section>
    <header>
        <h1>Content</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minus dolor quasi? Ab quidem quod, laboriosam
            aliquam illo et odit consequatur aperiam eaque fugiat dignissimos aspernatur itaque ratione fuga delectus?
        </p>
    </article>
</section>
{% endblock %}