html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.widget-product-hallo {
	height: 100vh;
	color: red;
	font-weight: 700;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.widget-user-avatar {
	width: 75px;
	height: 75px;
	object-fit: cover;
	object-position: center;
	border-radius: 0.3rem;;
}