<div class="d-flex align-content-center" style="min-height: 700px; width: 100%">
	<div class="text-center">
		<h2 class="fs-2 fw-bold">Coming Soon</h2>
		<p>this is base template, you should not see this</p>
	</div>
</div>