.widget-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    & .widget-content {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;

        & .widget {
            position: relative;
            box-shadow: 0 0 2px rgb(0, 0, 0, 0.075);
            border-radius: 0.5rem;
            overflow: hidden;
            padding: 0.5rem;
            & .widget-frame {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }
            & .widget-loading {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.75);
            }
        }
    }

    & .widget-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 0px;
        background-color: #fff;
        z-index: 900;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.25s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        flex-direction: column;
        overflow: hidden;

        &.open {
            max-width: 220px;
            overflow: visible;
        }
        & .menu-group {
            width: 100%;
            display: flex;
            flex-direction: column;

            &.open {
                & .menu-group-name {
                    &::after {
                        content: "\f077";
                    }
                }

                & .menu-group-items {
                    max-height: 100%;
                    padding: 0.75rem;
                    border-bottom: 1px solid rgba(var(--bs-secondary-rgb), 0.05);
                    overflow: visible;
                }
            }

            & .menu-group-name {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0.05rem;
                background-color: rgba(var(--bs-secondary-rgb));
                color: #fff;
                padding: 0.5rem;
                text-transform: uppercase;
                min-width: max-content;
                cursor: pointer;
                &::after {
                    content: "\f078";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    float: right;
                    transition: 0.25s;
                }
            }

            & .menu-group-items {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding: 0 0.75rem 0rem 0.75rem;
                max-height: 0;
                transition: 0.25s;
                overflow: hidden;
            }
        }
        & .menu-item {
            width: 50px;
            height: 50px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
            border-radius: 0.25rem;
            cursor: pointer;
            transition: 0.25s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.25rem;
            font-size: 0.8rem;
            position: relative;
            margin-bottom: 2rem;

            &.active {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
                color: rgb(var(--bs-primary-rgb), 1);
                & .menu-item-description {
                    display: block;
                }
            }
            &:hover {
                box-shadow: 0 0 5px rgba(var(--bs-primary-rgb), 0.45);
                color: rgb(var(--bs-primary-rgb), 0.75);

                & .menu-item-description {
                    &:not(:empty) {
                        display: block;
                    }
                }
            }

            & .menu-item-icon {
                font-size: 1.5rem;
                color: currentColor;
            }
            & .menu-item-title {
                position: absolute;
                font-size: 0.6rem;
                font-weight: 600;
                text-align: center;
                top: 100%;
                color: currentColor;
            }

            & .menu-item-description {
                font-size: 0.65rem;
                position: absolute;
                top: 100%;
                left: 100%;
                width: 100%;
                min-width: 150px;
                background-color: white;
                color: rgba(var(--bs-secondary-rgb));
                padding: 0.5rem;
                border-radius: 0.25rem;
                display: none;
                box-shadow: 0 0 5px rgba(var(--bs-secondary-rgb), 0.45);
            }
        }
    }

    &.widget-editing {
        padding: 0.5rem;
        gap: 0.5rem;
        user-select: none !important;

        & .widget-add {
            width: 100%;
            max-width: 320px;
            min-height: 150px;
            border: 3px dashed rgb(var(--bs-primary-rgb), 0.25);
            background-color: rgb(var(--bs-primary-rgb), 0.08);
            color: rgb(var(--bs-primary-rgb));
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                border-color: rgb(var(--bs-primary-rgb), 0.75);
                background-color: rgb(var(--bs-primary-rgb), 0.2);
                font-weight: 800;
            }
        }

        & .widget {
            position: relative;
            border: 3px dashed rgb(var(--bs-primary-rgb), 0.75);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: visible;

            &.focus {
                background-color: rgb(var(--bs-primary-rgb), 0.25);
                & .widget-edit-tool {
                    display: block;
                }
            }
            & .widget-edit-tool {
                display: none;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                width: 100%;
                height: 100%;
                & .tool-btn {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background-color: transparent;
                    border-radius: 0.5rem;
                    color: rgb(var(--bs-primary-rgb));
                    box-shadow: 0 0 5px rgba(var(--bs-primary-rgb), 0.45);
                    background-color: #fff;
                    &:hover {
                        background-color: rgba(var(--bs-primary-rgb), 0.75);
                        color: #fff;
                    }
                    &.tool-move {
                        position: absolute;
                        bottom: 100%;
                        left: 100%;
                        cursor: move;
                    }

                    &.tool-delete {
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(var(--bs-danger-rgb), 0.75);
                            color: #fff;
                        }
                    }

                    &.tool-close {
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                    }
                    &.tool-resize-x {
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translateY(-50%);
                        cursor: col-resize;
                    }
                    &.tool-resize-y {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        cursor: row-resize;
                    }
                }
            }
        }
    }

    & .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2.5rem;
        border: none;
        border-radius: 10rem;
        padding: 1rem;
        color: #fff;
        background-color: rgb(var(--bs-primary-rgb), 0.5);
        box-shadow: 2px 4px 5px rgba(var(--bs-dark-rgb), 0.25);
        cursor: pointer;
        &:hover {
            background-color: rgb(var(--bs-primary-rgb), 0.75);
            transform: scale(1.05);
        }
    }
}
