<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    <title>{% block meta_title %}Hallo template | MerapiPanel{% endblock %}</title>
    {% endblock %}

    {% block stylesheet %}{% endblock %}

</head>

{% block body %}
<body>

    <h1>Hello, World!</h1>
    {% block javascript %}{% endblock %}
</body>
{% endblock %}

</html>