<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ content_title() }}</title>
 
    {{ content_style() | raw }}
    
    {% include "./header.html" %}
</head>

<body>

    {% include "./navbar.html" %}

    <div style="min-height: 90vh;">

        <img width="200" height="200" src="./footer.html" alt="">
        {{ content_html() | raw }}
    </div>

    {% include "./footer.html" %}

    {{ content_script() | raw }}
</body>

</html>