{% extends "@panel/base.html.twig" %}
{% block header_title %}New Content{% endblock %}


{% block meta %}{% endblock %}


{% block stylesheet %}
{{ parent() }}
{# <link rel="stylesheet" href="/merapi/dist/MP_ContentEditor.css?v={{ time() }}"> #}
<style>
    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    #editor *[placeholder]:empty:after {
        content: attr(placeholder);
        opacity: .5;
    }

    #editor .ce-settings svg {
        stroke-width: 0px;
    }

    .content-sidebar {
        transition: .5s;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        .content-sidebar {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            height: 100%;
            overflow: hidden;
            max-width: 350px;
            width: 100%;
        }

        .content-sidebar.close {
            max-width: 0px;
            padding: 0;
        }
    }
</style>
{% endblock %}



{% block body %}

<div id="root"></div>

<script src="{{ '/merapi/dist/hallo.bundle.js' }}"></script>
{% endblock %}