{% extends "@setting/base.html.twig" %}



{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ '/article' | access_path }}">Article</a></li>
<li class="breadcrumb-item">Options</li>
{% endblock %}


{% block header_title %}Article Options{% endblock %}


{% set form_setting %}
<div class="row py-3">
    <div class="col-12 col-lg-6 mb-3">
        <section class="mb-3 p-3 shadow-sm">
            <label for="link_style" class="form-label">Link Style :</label>
            <select class="form-select" name="link_style" id="link_style">
                <option value="/article/:id">/article/:id</option>
                <option value="/article/:id/:slug">/article/:id/:slug</option>
                <option value="/article/:id/:slug/:title">/article/:id/:slug/:title</option>
                <option value="/article/:id/:date/:title">/article/:id/:date/:title</option>
            </select>
            <small class="text-yellow-600 opacity-50">Select link style for article</small>
        </section>
    </div>
</div>
{% endset %}



{% block form %}
{{ _self.process(form_setting) }}
{% endblock %}