.module-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
        transition: 2s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}
.module-text.unwrap {
    @supports (-webkit-line-clamp: 2) {
        -webkit-line-clamp: 100;
    }
}
.module-text ul {
    list-style: inside;
    list-style-type: circle;
}
.module-text ol {
    list-style: inside;
    list-style-type: decimal;
}
