.card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 0.25em;
    overflow: hidden;
    width: 100%;

    &.shadow {
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.05),
            0 1px 2px rgba(0, 0, 0, 0.1);
        &:hover {
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
    &:hover {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    & img {
        width: 100%;
        object-fit: cover;
    }
    & .card-body {
        padding: 1rem 1.4rem;
        background-color: #fff;

        & .card-title {
            margin-bottom: 0.5rem;
            font-weight: 600;
            font-size: 1.1rem;
        }
        & .card-text {
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }
}
