.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 260;
    height: 100vh;
    width: 100vw;
    display: none;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &.showing {
        display: flex;
    }
    &.show {
        display: flex;
    }
    & .modal-dialog {
        width: 100%;
        max-width: 460px;
        border: 0;
        max-height: 100vh;
        overflow: auto;
        padding: 1rem 0;
        &::-webkit-scrollbar {
            display: none;
        }

        & .modal-footer {
            border: none;
            padding: 0.3rem 0.75rem;
        }
        & .modal-body {
            width: 100%;
            max-width: 600px;
        }
        & .modal-content {
            border: none;
            border-radius: 0.25rem;
            background-color: #fff;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
            overflow: hidden;
        }
        & .modal-title {
            font-size: 1.25em;
            font-weight: 600;
        }
    }

    & .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1px);
        &.show {
            opacity: 0.5;
        }
    }
}

body:has(.modal.showing),
body:has(.modal.show) {
    overflow: hidden;
}
