@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

$font-family-base: "Montserrat", sans-serif;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null;
$font-size-base: 0.85rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

@import "../vendor/bootstrap/scss/bootstrap.scss";

@import "modal";

.scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.scrollbar-sm {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2) !important;
        border-radius: 5px !important;
        border: 0 !important;
        
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1) !important;
        border-radius: 5px !important;
        border: 0 !important;
    }
    &::-webkit-scrollbar-corner {
        background: rgba(0, 0, 0, 0.1) !important;
        border-radius: 0 !important;
    }
}
@supports (scrollbar-width: thin) {
    .scrollbar-sm {
        scrollbar-width: 5px;
    }
}
