{% extends "@panel/base.html.twig" %}
{% block header_title %}New Content{% endblock %}


{% block meta %}{% endblock %}


{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/merapi/dist/MP_Editor.css">
<style>
    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    #editor *[placeholder]:empty:after {
        content: attr(placeholder);
        opacity: .5;
    }

    #editor .ce-settings svg {
        stroke-width: 0px;
    }

    .content-sidebar {
        transition: .5s;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        .content-sidebar {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            height: 100%;
            overflow: hidden;
            max-width: 350px;
            width: 100%;
        }

        .content-sidebar.close {
            max-width: 0px;
            padding: 0;
        }
    }
</style>
{% endblock %}



{% block body %}

<div id="root"></div>

{# <div class="editor_panels">
    <div class="panel__top">
        <div class="panel__basic-actions"></div>
        <div class="panel__devices"></div>
        <div class="panel__switcher"></div>
    </div>
    <div class="editor-row">
        <div class="panel__left">
            <div class="layers-container"></div>
        </div>

        <div class="editor-canvas">
            <div id="editor">
                <h1>Hallo World</h1>
                <div>
                    <img src="/merapi/base/assets/img/image-damaged.png" width="400" height="400" alt="">
                </div>
            </div>
        </div>
        <div class="panel__right">
            <div class="styles-container"></div>
            <div class="traits-container"></div>
        </div>
    </div>
</div>
<div id="blocks"></div> #}


<script src="{{ '/merapi/dist/MP_Editor.bundle.js' }}"></script>
{% endblock %}