{% extends "@panel/base.html.twig" %}

{% block content %}



<section class="p-3">
    <header>
        <h1>Events</h1>
        <p>Menampilkan semua event yang di override/listened</p>
    </header>
    <article>
        <ul>
            {% for event in events %}
            <li><b>{{ event.instance }}</b>
                <br>
                <div>
                    {% for listener in event.listeners %}
                    <i class="fa-solid fa-turn-up fa-rotate-90"></i> <code class="ms-1">{{ listener }}</code> <br>
                    {% endfor %}
                </div>
            </li>
            {% else %}
            <div>No events</div>
            {% endfor %}
        </ul>
    </article>
</section>

{% endblock %}