{% extends "@panel/base.html.twig" %}


{% block header_title %}Website Menu{% endblock %}


{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item">Website</li>
<li class="breadcrumb-item active" aria-current="page">Pages</li>
{% endblock %}


{% block subheader_outer %}{% endblock %}



{% block content %}
<div class="row">

    <div class="col-12 col-lg-6">

        <div class="m-3">
            <ul>
                <li>
                    <div>Menu</div>
                    <small>target: /</small>
                </li>
                <li>
                    <div>Pages</div>
                    <small>target: /pages</small>
                </li>
                <li>
                    <div>Pages</div>
                    <small>target: /pages</small>
                </li>
            </ul>
            <button class="btn btn-sm px-5 btn-outline-primary rounded-5">
                <i class="fa-solid fa-plus"></i> Add
            </button>
        </div>

    </div>

    <div class="col-12 col-lg-6">
        <div class="p-3">
            <h2 class="fs-2">Website Menu</h2>
            <div class="shadow-sm my-3">
                <ul>
                    <li>Home</li>
                    <li>Pages</li>
                    <li>Menu</li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}