<!doctype html>
<html>
	<head>
    <title>{% block page_title %}Merapi panel{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<link rel="stylesheet" href="/public/assets/css/output.css"/>
		{% endblock %}
		{% block javascripts %}
			<script></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}
			<h1>This is the base page</h1>
		{% endblock %}
	</body>
</html>
