$app: "merapi__editor";
$app-prefix: $app + "-";

$primaryColor:      #f5f5f5;
$secondaryColor:    #1f1f1f;
$tertiaryColor:     #5d99c5;
$quaternaryColor:   #0053a7;


/* Dark theme */
$mainColor:         #eeeeee; /* Light: #573454 Dark: #3b2639 -moz-linear-gradient(top, #fca99b 0%, #6e2842 100%) */
$fontColor:         #4f4f4f; /* l: #d8d7db */
$fontColorActive:   #1e1e1e ;

$arrowColor:        $secondaryColor;