{% extends "@admin::panel/base.html.twig" %}
{% block header_title %}Modules{% endblock %}

{% block content %}


<div>

    <span>Total {{ admin.modules_ListModule|length }}</span>

    {% for module in admin.modules_ListModule %}

    <div class="rounded-sm shadow mb-5 p-5 flex">
        <div class="flex">
            <div
                class="aspect-square bg-black/5 w-[35px] h-[35px] rounded-sm overflow-hidden flex items-center justify-center">
                <img class="w-full h-full max-w-[80%] max-h-[80%] object-cover"
                    src="/src/base/assets/img/default-box.svg" srcset="{{ module.icon }}" alt="{{ module.name }} icon">
            </div>
            <div class="ms-3">
                <h1>{{ module.name }}</h1>
            </div>
        </div>
        <div class="ms-auto">

        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}