.breadcrumb {
    display: flex;
    & .breadcrumb-item {
        transition: 0.25s all;
        padding: 0.1rem 0.3rem;
        color: rgb(var(--merapi-rgb-primary) / 0.5);

        &::before {
            color: var(--merapi-color-disabled);
            font-weight: 600;
            content: "/";
            padding-right: 0.5rem;
        }

        &:not(.active):hover {
            color: var(--merapi-color-primary);
        }
        &.active {
            color: var(--merapi-color-secondary);
        }
        &:not(:has(a)) {
            color: var(--merapi-color-secondary);
        }
    }

    margin-top: 0.1rem;
    @media screen and (max-width: 1024px) {
        margin-top: 0.6rem;
    }
}
