.panel-body {
    transition: 0.25s;
    background-color: #f4f4f4;
}

.panel-title {
    font-size: 1.25rem;
    font-weight: 500;
}
.panel-main {
    & .panel-header {
        padding: 1rem .75rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
    }
}
.panel-container {
    min-height: 500px;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .panel-subheader {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        gap: 0.5rem;
        border-bottom: 3px solid #549bff;
    }
    & .panel-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.panel-subheader {
    height: 40px;

    & .panel-search {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border-right: 1px solid #f5f5f5;
        width: 100%;
        max-width: 400px;
        & .form-control {
            border: none;
            border-radius: 0;
            &:focus {
                box-shadow: none;
            }
        }
        & .btn {
            border-radius: 0;
            color: #549bff;
            &:hover {
                background-color: rgb(var(--bs-primary-rgb), 0.75);
                color: white;
            }
        }
    }

    & .subheader-actions {
        margin-left: auto;
        transition: 0.5s all;
        display: flex;
        position: relative;
        @media screen and (min-width: 1024px) {
            flex: 1 1 100%;
        }

        &.open {
            & .subheader-toggle {
                color: var(--merapi-color-danger);
                & i::before {
                    content: "\f00d";
                }
            }
            & .subheader-menu {
                transform: scale(1);
            }
        }

        & .menu-toggle {
            aspect-ratio: 1;
            width: 40px;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            background: white;
            align-content: center;
            justify-content: center;
            align-items: center;
            display: none;
            outline: none;
            box-shadow:
                0 1px 3px 0 rgb(0 0 0 / 0.1),
                0 1px 2px -1px rgb(0 0 0 / 0.1);
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f0c9";
            }

            &:hover {
                box-shadow: 0 0 3px rgb(0 0 0 / 10%);
            }
            @media screen and (max-width: 1024px) {
                display: flex;
            }
        }
        & .subheader-menu {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 0.5rem;
            transition: 0.3s all;
            transform-origin: top right;
            margin-left: auto;

            @media screen and (max-width: 1024px) {
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                transform: scale(0);
                top: 25px;
                right: 25px;
                z-index: 100;
                background-color: white;
                border-radius: 0.3rem;
                box-shadow: 1px 1px 10px rgba(113, 113, 113, 0.286);
                margin-left: unset;
                margin: 0.3rem;
                padding: 0.5rem 0.4rem;
            }

            & .menu-item {
                padding: 0.25rem 1rem;
                box-shadow: 0 0 2px rgba(125, 125, 125, 0.17);
                border: none;
                outline: none;
                background-color: transparent;
                border-radius: 0rem;
                text-decoration: none;
                white-space: nowrap;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: left;
                gap: 0.5rem;
                color: rgb(var(--bs-primary-rgb));
                font-weight: 500;
                &:hover {
                    background-color: rgb(var(--bs-primary-rgb), 0.5);
                    color: white;
                }
                &.active {
                    background-color: rgb(var(--bs-primary-rgb), 0.85);
                    color: white;
                }
                @media screen and (max-width: 1024px) {
                    width: 100%;
                    min-width: max-content;
                }
            }
        }

        &:is(.subheader-menu:empty) {
            display: none;
        }
        &:has(.subheader-menu:empty) {
            display: none;
        }
    }
}
