body {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 220px;
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 4px -1px rgb(0 0 0 / 0.35);
        z-index: 100;
        transition: 0.25s;
        transform-origin: top left;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        & .sidebar-header {
            padding: 0 0.5rem;
            border-bottom: #394d7041 1px solid;
        }
        & .sidebar-container {
            background-color: white;
            flex-grow: 1;
        }
        & .sidebar-close {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 26px;
            height: 26px;
            border-radius: 10rem;
            appearance: none;
            z-index: 9;
            transition: 0.2s all;
            border: none;
            cursor: pointer;
            background-color: transparent;
            &::before {
                content: "\f00d";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                font-size: 1.2rem;
            }
        }
        & .nav-menu {
            list-style: none;
            padding: 5px 0;

            & .nav-item {
                text-decoration: none;
                padding: 5px 25px;
                padding-right: 0;
                color: #65738b;
                white-space: nowrap;
                & a {
                    text-decoration: none;
                    display: block;
                    color: currentColor;
                }
                &:hover {
                    background-color: rgb(0 0 0/0.025);
                }
                &.active {
                    background-color: rgba(0, 98, 255, 0.05);
                    color: #006eff;
                }
                &:has(.nav-item.active) {
                    background-color: rgba(0, 98, 255, 0.05);
                }
                & .nav-menu {
                    padding-left: 10px;
                    margin-left: 5px;
                    border-left: 1px solid #9ca1b1;
                    & .nav-item {
                        padding: 5px 8px;
                        font-weight: 400;
                        &.active {
                            background-color: rgb(0 0 0/0);
                        }
                    }
                    &:has(.nav-item.active) {
                        border-color: #006eff;
                        color: #394d70;
                    }
                }
            }
        }
    }

    &:has(.sidebar) {
        margin-left: 220px;
    }

    & .sidebar-toggle {
        display: none;
        width: 30px;
        height: 30px;
        //padding: 0.5rem;
        appearance: none;
        z-index: 9;
        transition: 0.2s all;
        border: none;
        cursor: pointer;
        background-color: #0963ff00;
        //border: 1px solid rgb(var(--bs-primary-rgb), 0.25);
        color: rgb(var(--bs-primary-rgb), 0.75);
        border-radius: 0.25rem;
        &::before {
            content: "";
            mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 74.641 48.59' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-37.573 -82.659)'%3E%3Cpath d='m55.876 118.41h50.057c3.4801 0 6.2818 2.8017 6.2818 6.2818v.27334c0 3.4801-2.8017 6.2818-6.2818 6.2818h-50.057c-3.4801 0-6.2818-2.8017-6.2818-6.2818v-.27334c0-3.4801 2.8017-6.2818 6.2818-6.2818zm-12.094-17.876h62.225c3.4393 0 6.2081 2.7688 6.2081 6.2081v.42095c0 3.4393-2.7688 6.2081-6.2081 6.2081h-62.225c-3.4393 0-6.2081-2.7688-6.2081-6.2081v-.42095c0-3.4393 2.7688-6.2081 6.2081-6.2081zm0-17.876h62.225c3.4393 0 6.2081 2.7688 6.2081 6.2081v.42095c0 3.4393-2.7688 6.2081-6.2081 6.2081h-62.225c-3.4393 0-6.2081-2.7688-6.2081-6.2081v-.42095c0-3.4393 2.7688-6.2081 6.2081-6.2081z'/%3E%3C/g%3E%3C/svg%3E%0A");
            mask-size: 100%;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: currentColor;
            width: 100%;
            height: 100%;
            display: block;
            transform: scaleX(-1);
        }
    }

    @media screen and (max-width: 1024px) {
        &:has(.sidebar) {
            margin-left: 0px;
            & .sidebar-toggle {
                display: block !important;
                margin: 0.15rem;
            }
        }
        &:has(.sidebar.open) {
            overflow: hidden;
        }
        .sidebar {
            max-width: 0;
            & .sidebar-close {
                display: block;
            }
            &.open {
                max-width: 220px;
                &::before {
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    backdrop-filter: blur(1px);
                }
            }
        }
    }
}
