@use "sass:color";

.alert {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    box-shadow: var(--merapi-shadow-alt), var(--merapi-shadow);
    & .alert-title {
        margin-bottom: 0.2em;
        font-weight: 700;
        font-size: 1.2em;
    }
    & .alert-text {
        margin-bottom: 0.3em;
        font-size: 0.9em;
        line-height: 1.5em;
    }

    @each $name, $size in $sizes {
        &.alert-#{$name} {
            font-size: $size;
            & .alert-title {
                font-size: $size;
            }
            & .alert-text {
                font-size: $size * 0.9;
            }
        }
    }
}
@each $name, $color in $themes {
    .alert-#{$name} {
        background-color: color.scale($color, $lightness: 95%);
        color: darken($color, 10%);
        box-shadow:
            var(--merapi-shadow-alt),
            var(--merapi-shadow),
            0 0 0 4px color.scale($color, $lightness: 95%);
        & .alert-title {
            color: darken($color, 25%);
        }
        & .alert-text {
            color: darken($color, 15%);
        }
    }
}
