.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    --table-color: 0 0 0;
    @each $name, $color in $themes {
        &.table-#{$name} {
            $rgb: to-rgb($color);
            --table-color: #{$rgb};
        }
    }
    @each $name, $size in $sizes {
        &.table-#{$name} {
            font-size: $size;
        }
    }

    &.table-bordered {
        overflow: hidden;
        & thead,
        & tbody,
        & tfoot {
            & tr {
                & th,
                & td {
                    border: 1px solid rgb(var(--table-color) / 35%);
                }
            }
        }
    }

    &.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgb(var(--table-color) / 10%);
    }
    &.table-hover tbody tr:hover {
        background-color: rgb(var(--table-color) / 25%);
    }

    & thead {
        display: table-header-group;
        vertical-align: middle;
    }
    & tbody {
        display: table-row-group;
        vertical-align: middle;
        & tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            background-color: rgb(var(--table-color) / 5%);
            transition: 0.25s;
            & td,
            & th {
                border-color: inherit;
                border-style: solid;
                border-width: 0;
                padding: 0.5rem;
                vertical-align: inherit;
                text-align: left;
            }
        }
    }
}
