{% extends "base.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ 'dist/index.css' | assets }}">
{% endblock %}

{% block body %}

<main class="container mx-auto max-w-[1400px] px-3">

    {% block content %}
    <section>
        <header class="mb-3">
            <h1 class="text-3xl">{{ article.title }}</h1>
        </header>
        <article>
            {{ article.content.html | raw }}
        </article>
    </section>
    {% endblock %}

</main>
{% endblock %}