{% extends "@admin>panel/base.html.twig" %}
{% block header_title %}New Content{% endblock %}

{% block head_javascripts %}
<script src="{{ '@content/assets/dist/editor.bundle.js' | assets }}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


{% block body %}

<body>
    
    <style>
        .ql-toolbar.ql-snow {
            position: sticky;
            top: 0;
            border: none;
            z-index: 10;
            background: white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
        .ql-editor {
            background: #fff;
            color: #121212;
        }
    </style>

    <div class="flex h-screen w-screen overflow-auto">
        <div class="w-full min-w-[600px]">
            <div id="editor" class="h-auto border-0"></div>
        </div>
        <div class="px-4 py-6 border-2 w-full h-screen max-w-[350px] sticky top-0">
            <div class="flex flex-col h-full">
                <div class="">
                    <h2 class="mb-4 text-2xl font-bold">Content Meta Data</h2>
                    <div class="mb-3">
                        <label for="" class="block text-sm font-medium text-gray-700">Title of Content</label>
                        <input type="text" class="text-input" placeholder="Enter title">
                    </div>

                    <div class="mb-3">

                        <label for="" class="block text-sm font-medium text-gray-700">Category</label>
                        <select class="text-input">
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                        </select>
                    </div>
                </div>
                <div class="mt-auto">
                    <button class="btn btn-primary w-full">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}