<header class="max-w-[1440px] mx-auto">
    <div class="w-full flex items-baseline">
        <a >
            <span class="font-bold text-2xl">Merapi Panel</span>
        </a>

        <ul class="ms-auto flex">
            <li><a href="#">Dashboard</a></li>
        </ul>

        


    </div>
</header>