<header class="max-w-[1440px] mx-auto shadow-sm">
    <div class="w-full flex items-baseline py-3 px-2">
        <a>
            <span class="font-bold text-2xl">Merapi Panel</span>
        </a>

        <ul class="ms-auto flex">
            {% for item in guest.panel_navs %}
            <li class="mx-2"><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>



        <div class="px-4">
            <span class="font-bold">{{ admin.user_getName }}</span>
        </div>

    </div>
</header>