{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}

{% include "@parts>panel/navigation.html.twig" %}

<link rel="stylesheet" href="{{'@panel/assets/fontawesome/css/all.min.css'|assets}}">

<main class="transition-all duration-300 ms-0 lg:ms-[260px] max-w-[1440px] mx-auto px-4 py-3">

    {% block header %}
    <header>
        <h1 class="font-bold text-2xl">{% block header_title %}Dashboard{% endblock %}</h1>
    </header>
    {% endblock %}


    {% block content %}


    <div class="flex flex-wrap justify-center items-center h-[80vh] w-full">
        <div class="text-center">
            <h2 class="text-3xl font-bold">Coming soon</h2>
        <p>this is base template, you should not see this</p>
        </div>
    </div>


    {% endblock %}
</main>


{% endblock %}