@use "sass:map";
@use "sass:color";

$theme-colors: (
    "light": #fff,
    "dark": #292929,
    "primary": #0084ff,
    "secondary": #7a7a7a,
    "success": #00c853,
    "warning": #dbc923,
    "danger": #ed3e2b,
    "info": #18cade,
    "magenta": #d60dbf,
    "disabled": #d1d1d1
);

@function theme-color($name) {
    @if map-has-key($map: $theme-colors, $key: $name) {
        @return map-get($map: $theme-colors, $key: $name);
    }
    @return NULL;
}

@function theme-rgb($color, $alpha: 1) {
    @if theme-color($color) != NULL {
        $color: theme-color($color);
    }

    $r: red($color);
    $g: green($color);
    $b: blue($color);

    @return rgb(#{$r} #{$g} #{$b} / #{$alpha});
}

@function theme-lightness($color: #ffffff, $value: 0%) {
    @if theme-color($color) != NULL {
        $color: theme-color($color);
    }
    @return color.adjust($color, $lightness: $value);
}

@function theme-whiteness($color: #ffffff, $value: 0%) {
    @if theme-color($color) != NULL {
        $color: theme-color($color);
    }
    @return color.adjust($color, $whiteness: $value);
}

@function theme-blackness($color: #ffffff, $value: 0%) {
    @if theme-color($color) != NULL {
        $color: theme-color($color);
    }
    @return color.adjust($color, $blackness: $value);
}
