{% extends "base.html.twig" %}



{% block body %}
    {% if template %} 
        {% block stylesheets %}
            {{ parent() }}
            <style>{% include "@Template::" ~ template.css %}</style>
        {% endblock %}
        {% include "@Template::" ~ template.html %}
    {% else %}

        {% block content %}
        <div class="flex items-center justify-center h-screen w-screen">
            <section class="text-center">
                <header class="mb-3">
                    <h1 class="text-3xl font-medium">This Page Is Empty</h1>
                </header>
                <article>
                    <p>Welcome, you have access the empty page</p>
                </article>
            </section>
        </div>
        {% endblock %}

    {% endif %}
{% endblock %}