.container-layers {
    position: relative;
    max-width: 250px;
    transition: 0.15s;
    overflow: hidden;
    opacity: 1;
    &.hide {
        max-width: 0 !important;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}
