$tertiaryColor: #1491da !default;

.container-selected {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0.75rem 0.5rem;

    & .component-name {
        font-weight: 700;
        color: #{$tertiaryColor};
        margin-bottom: 0.35rem;
        margin-left: 0.35rem;
        text-transform: uppercase;
    }
    & .component-icon {
        margin: 0.15rem;
        color: #{$tertiaryColor};
    }
}
