@tailwind base;

/* For WebKit browsers (Chrome, Safari) */
/* You can customize the scrollbar styles as needed */
/* Remember to use vendor prefixes for cross-browser compatibility */

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00; /* Change to your desired track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4fa1ff99; /* Change to your desired handle color */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4fa1ff; /* Change to your desired handle color on hover */
}

/* For Firefox */
/* You can customize the scrollbar width and color */
/* Note: Firefox supports scrollbar-width and scrollbar-color properties */

/* Track */
/* You may need to customize scrollbar-track-color for Firefox */
/* as scrollbar-track-color is not supported */
/* in ::-webkit-scrollbar-track */
* {
    scrollbar-width: thin; /* Change to your desired width */
    scrollbar-color: #4fa1ff99 #ffffff00; /* Change to your desired handle and track colors */
    scrollbar-track-color: #00000088;
}

/* Track on hover */
*::-webkit-scrollbar-thumb:hover {
    background-color: #4fa1ff; /* Change to your desired handle color on hover */
}

@tailwind components;
@tailwind utilities;

.text-input {
    @apply bg-white shadow w-full text-slate-800 rounded py-2 px-4 border-[1px] border-slate-200 focus-visible:outline-none focus-visible:border-blue-500;
}
.text-input:disabled {
    background: #ffffffdd;
    color: #00000088;
}
textarea.text-input {
    @apply min-h-[2.5rem];
}

.sidenav {
    @apply transition-all duration-300 overflow-hidden shadow-[0_5px_10px_0_rgba(0,0,0,0.4)] top-0 left-0 w-full max-w-0 lg:max-w-[250px] h-full fixed bg-white;
    z-index: 250;
}

.sidenav.open::before {
    content: "";
    @apply fixed lg:relative top-0 left-0 w-full h-full bg-black opacity-50 -z-[1];
}

.sidenav > div {
    @apply min-w-max;
}

.sidenav.open {
    @apply max-w-[250px];
}

.nav-menu li a.active {
    @apply text-blue-500;
}
.nav-menu li:has(ul > li > a.active) {
    @apply text-slate-500;
}

.nav-menu li ul:has(li > a.active) {
    @apply border-blue-500;
}

.running-strip {
    background-image: url("data:image/svg+xml,%3Csvg width='50.351mm' height='38mm' version='1.1' viewBox='-9 0 50.351 41.38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-113.46)'%3E%3Cpath d='m122.46 0h23.36l-17.992 41.38h-23.36z' style='fill:%2300000045'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 25px;
    background-repeat: repeat-x;
    animation: running-strip 0.3s linear infinite;
}

@keyframes running-strip {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 25px 0;
    }
}

input[type="radio"] {
    @apply w-4 h-4 focus-within:drop-shadow-[0_0_2px_#3492eb];
}

.text-primary {
    @apply text-blue-600 dark:text-blue-400;
}
.text-danger {
    @apply text-red-600 dark:text-red-400;
}
.text-warning {
    @apply text-yellow-600 dark:text-yellow-400;
}
.text-success {
    @apply text-green-600 dark:text-green-400;
}
.text-info {
    @apply text-cyan-600 dark:text-cyan-400;
}

.btn {
    @apply px-7 py-[0.3rem] border-none rounded hover:shadow-sm transition-all duration-300;
}
.btn-sm {
    @apply px-6 py-[0.3rem] rounded-sm text-[0.7rem];
}

.btn-xsm {
    @apply px-3 py-[0.25rem] rounded-sm text-[0.6rem];
}
.btn-primary {
    @apply bg-blue-400 hover:bg-blue-500 text-white shadow-blue-500/20;
}
.btn-danger {
    @apply bg-red-500 hover:bg-red-600 text-white shadow-red-500/20;
}
.btn-warning {
    @apply bg-yellow-500 hover:bg-yellow-600 text-white shadow-yellow-500/20;
}
.btn-success {
    @apply bg-green-500 hover:bg-green-600 text-white shadow-green-500/20;
}
.btn-secondary {
    @apply bg-slate-500 hover:bg-slate-600 text-white shadow-slate-500/20;
}

.btn-primary-outline {
    @apply bg-transparent text-blue-500 border border-blue-500 hover:bg-blue-500 hover:text-white;
}
.btn-danger-outline {
    @apply bg-transparent text-red-500 border border-red-500 hover:bg-red-500 hover:text-white;
}
.btn-warning-outline {
    @apply bg-transparent text-yellow-500 border border-yellow-500 hover:bg-yellow-500 hover:text-white;
}
.btn-success-outline {
    @apply bg-transparent text-green-500 border border-green-500 hover:bg-green-500 hover:text-white;
}
.btn-secondary-outline {
    @apply bg-transparent text-slate-500 border border-slate-500 hover:bg-slate-500 hover:text-white;
}

.modal {
    @apply fixed top-0 left-0 w-full h-full z-[260];
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.modal-dialog {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full mx-auto bg-white shadow rounded pt-2 max-w-[95%] md:max-w-[600px];
}
.modal-header {
    @apply flex justify-between items-center py-3 px-5;
}
.modal-title {
    @apply text-xl font-bold;
}
.modal-content {
    @apply py-3 px-5 max-h-[80vh] overflow-auto;
}
.modal-footer {
    @apply py-3 px-5 flex justify-end;
}
.modal-footer button {
    @apply ms-3;
}

.btn-close {
    @apply absolute px-2 py-2 top-2 right-4 scale-100 hover:scale-[1.5] hover:text-red-400 transition-all;
}

.dropdown {
    @apply relative flex flex-col justify-end z-10;
}
.dropdown > [data-act-trigger] {
    @apply cursor-pointer ms-auto;
}

.dropdown .dropdown-menu {
    @apply max-w-0 max-h-0 mx-3 bg-white overflow-hidden transition-all;
}

.dropdown.open .dropdown-menu {
    @apply max-w-[400px] max-h-[600px] shadow-md rounded;
}
.dropdown .dropdown-menu .dropdown-item {
    @apply hover:bg-slate-100 cursor-pointer;
    min-width: max-content;
}
.dropdown .dropdown-menu .dropdown-item > * {
    @apply px-4 py-2 w-full text-left;
}
[data-act-trigger="dropdown"] {
    @apply cursor-pointer rounded-full p-[0.3rem] m-[0.3rem] hover:scale-125 hover:bg-white transition-all flex align-middle justify-center hover:shadow;
}

.img-scale-down {
    @apply object-scale-down;
}
.img-contain {
    @apply object-contain;
}
.img-cover {
    @apply object-cover;
}

.flex-item-sticky {
    align-self: flex-start;
    position: sticky;
    top: 0;
}
.offcanvas {
    @apply overflow-hidden max-w-[400px] z-[260];
}
.offcanvas-body {
    @apply overflow-auto w-full break-words;
}

code {
    background: #f3f3f3;
    color: currentColor;
    padding: 0 0.4rem;
    border-radius: 0.25rem;
}
