<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | assets }}">
    <link rel="stylesheet" href="{{ '/vendor/fontawesome/css/all.min.css' | assets }}">
    <title>Document</title>
</head>

<body>

    {% if templates.components %}
    {{ _box.Editor.render(templates.components) | raw }}
    {% else %}
    <div style="height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center">
        <h1>No components</h1>
    </div>
    {% endif %}

    <script src="{{ '/vendor/bootstrap/js/bootstrap.bundle.min.js' | assets }}"></script>
    <script src="{{ '/dist/main.js' | assets }}"></script>

</body>

</html>