{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
<style>
    * {
        transition: all;
        transition-duration: 300ms;
    }
</style>
{% endblock %}

{% block body %}

<body class="min-h-screen min-w-screen bg-slate-100 text-slate-700">


    {% include "@parts::panel/navigation.html.twig" %}

    <main class="transition-all duration-300 ms-0 lg:ms-[260px] max-w-[1440px] mx-auto px-4 py-4 pb-24">

        {% block header %}
        <header class="py-3 pb-4 ps-2">
            <h1 class="font-bold text-3xl">{% block header_title %}Dashboard{% endblock %}</h1>
        </header>
        {% endblock %}

        {% block subheader %}
        <div class="py-5 w-full flex flex-wrap lg:flex-nowrap">

            {% block subheader_search %}
            <div class="flex w-full mb-3 sm:mb-0 max-w-[430px]">
                <input class="text-input" type="text" placeholder="Search">
                <button
                    class="ms-2 bg-white rounded outline-none border shadow px-4 py-2 hover:bg-blue-500 hover:text-white">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            {% endblock %}

            {% block subheader_actions %}{% endblock %}

        </div>
        {% endblock %}

        {% block content %}
        <div class="flex flex-wrap justify-center items-center h-[80vh] w-full">
            <div class="text-center">
                <h2 class="text-3xl font-bold">Coming soon</h2>
                <p>this is base template, you should not see this</p>
            </div>
        </div>
        {% endblock %}

    </main>



    {% block javascripts %}
    {% endblock %}

</body>

{% endblock %}