<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTTP ERROR: {{code }}</title>
	<link rel="stylesheet" href="/public/assets/dist/main.css">
</head>

<body style="height: 100vh; overflow: hidden;">
	{% block body %}

	<div class="container">
		{% block content %}

		<section class="d-flex flex-wrap justify-content-center align-content-center gap-3 items-center vh-100">
			<div class="px-3" style="flex-basis: 400px;">
				<img style="width: 100%; max-width: 300px; object-fit: contain; filter: drop-shadow(2px 4px 4px #00000075) drop-shadow(-2px 11px 6px #4488ffaa);" src="/public/assets/img/404%20ilustration.png" alt="404">
			</div>

			<div style="flex-basis: 400px;width: 100%; align-self:center">
				<header>
					<h1 style="font-size: 3.5rem;" class="fw-bold">ERROR 404</span></h1>
				</header>
				<article>
					<div class="order-1 md:order-2 col-span-1 md:col-span-2 align-self-end">
						<p class="text-break">{{message }}</p>
					</div>
				</article>
			</div>
		</section>
		<div
			style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.05);">
		</div>

		{% endblock %}
	</div>

	{% endblock %}
</body>

</html>