{% extends "@panel/base.html.twig" %}
{% block header_title %}New Content{% endblock %}


{% block meta %}{% endblock %}


{% block stylesheet %}
{{ parent() }}
<script>
    window.payload = {
        endpoint: {
            load:  "{{ '/editor/load' | admin_url | aes_encrypt | url }}"
        }
    }
</script>
<link rel="stylesheet" href="/merapi/dist/themecustomize.css?v={{ time() }}">
{% endblock %}



{% block body %}

<div id="root"></div>

<script src="/merapi/dist/themecustomize.bundle.js?v={{ time() }}"></script>
{% endblock %}