.subheader-actions {
    margin-left: auto;
    transition: 0.5s all;
    display: flex;
    position: relative;
    @media screen and (min-width: 1024px) {
        flex: 1 1 100%;

    }

    &.open {
        & .subheader-toggle {
            color: var(--merapi-color-danger);
            & i::before {
                content: "\f00d";
            }
        }
        & .subheader-menu {
            transform: scale(1);
        }
    }

    & .subheader-toggle {
        aspect-ratio: 1;
        width: 40px;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background: white;
        align-content: center;
        justify-content: center;
        align-items: center;
        display: none;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            box-shadow: 0 0 3px rgb(0 0 0 / 10%);
        }
        @media screen and (max-width: 1024px) {
            display: flex;
        }
    }
    & .subheader-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        transition: 0.3s all;
        transform-origin: top right;
        margin-left: auto;

        @media screen and (max-width: 1024px) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            transform: scale(0);
            top: 25px;
            right: 25px;
            z-index: 100;
            background-color: white;
            border-radius: 0.3rem;
            box-shadow: 1px 1px 10px rgba(113, 113, 113, 0.286);
            margin-left: unset;
            margin: 0.3rem;
            padding: 0.3rem 0.4rem;
        }

        & .menu-item {
            padding: 0.5rem 1rem;
            box-shadow: 0 0 2px rgba(125, 125, 125, 0.17);
            border-radius: 0.2rem;
            background: white;
            &:hover {
                background-color: rgb(var(--merapi-rgb-primary) / 0.75);
                color: white;
            }
            @media screen and (max-width: 1024px) {
                width: 100%;
                min-width: max-content;
            }
        }
    }

    &:is( .subheader-menu:empty) {
        display: none;
    }
    &:has(.subheader-menu:empty) {
        display: none;
    }
}
