@mixin btn($name, $color) {
    $whiteness: color.whiteness($color);
    $focusEdge: color.adjust($color, $alpha: -0.6);

    &.btn-#{$name} {
        $textColor: color.adjust($color, $blackness: 100%);
        @if $whiteness < 50 {
            $textColor: color.adjust($color, $lightness: 100%);
        }
        background-color: color.adjust($color, $whiteness: 15%);
        color: $textColor;
        &:focus {
            box-shadow: 0 0 0 4px $focusEdge;
        }
        &:hover {
            $bgColor: color.adjust($color, $lightness: -20%);
            @if color.whiteness($bgColor) < 90 {
                $textColor: color.adjust($color, $lightness: 100%);
            } @else {
                $textColor: color.adjust($color, $blackness: 100%);
            }

            background-color: $bgColor;
            color: $textColor;
        }
    }
    &.btn-outline-#{$name} {
        background-color: transparent;
        border: 1px solid color.adjust($color, $whiteness: 15%);
        color: color.adjust($color, $whiteness: 15%);
        &:focus {
            box-shadow: 0 0 0 4px $focusEdge;
        }
        &:hover {
            background-color: color.adjust($color, $whiteness: 15%);
            @if $whiteness < 50 {
                color: color.adjust($color, $lightness: 100%);
            } @else {
                color: color.adjust($color, $blackness: 100%);
            }
        }
    }
}

button {
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btn {
    padding: 0.3rem 1.2rem;
    border-radius: 0.25rem;
    box-shadow: var(--mp-shadow-alt);
    font-weight: semibold;
    @each $key, $value in $themes {
        @include btn($key, $value);
    }
}
.btn-close {
    padding: 0;
    margin: 0;
    color: #cc2121;
    border: none;
    background-color: color.adjust(#cc2121, $alpha: -0.9);
    &::before {
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        color: #dd4040;
        background-color: color.adjust(#cc2121, $alpha: -0.8);
        &:before {
            font-size: 1.25em;
        }
    }
    
}
