@use "sass:math";

:root {
    @for $x from 1 through 9 {
        $val: math.div($x, 100);
        --merapi-alpha-#{$x}: #{$val};
    }
    @for $x from 1 through 10 {
        $val: math.div($x, 10);
        $key: $x * 10;
        --merapi-alpha-#{$key}: #{$val};
    }

    --merapi-shadow-rgb: 0 0 0;
    --merapi-shadow-alpha: var(--merapi-alpha-10);
    --merapi-shadow-alt: 0px 0px 1px rgb(var(--merapi-shadow-rgb) / var(--merapi-alpha-6));
    --merapi-shadow: var(--merapi-shadow-alt), 1px 1px 2px rgb(var(--merapi-shadow-rgb) / var(--merapi-shadow-alpha));
    --merapi-shadow-inset: inset var(--merapi-shadow-alt),
        inset 0px 0px 2px rgb(var(--merapi-shadow-rgb) / var(--merapi-alpha-60));
}

div:has(.invalid-feedback) {
    align-items: baseline;
}
.invalid-feedback {
    position: relative;
    margin-bottom: 25px;
    & input,
    & textarea {
        &.invalid {
            box-shadow: 0 0 2px red !important;
            border-color: red !important;

            &[invalid-message]:not([invalid-message=""]) {
                position: relative;
            }
        }
    }

    & small {
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.form-input,
.form-textarea,
.form-select {
    width: 100%;
    display: block;
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5em;
    outline: none;
    border: 1px solid rgb(0 0 0 /0);
    border-radius: 0.25em;
    position: relative;
    box-shadow: var(--merapi-shadow-alt), var(--merapi-shadow);

    &:focus {
        box-shadow:
            var(--merapi-shadow-alt),
            0 0 0 4px rgb(var(--merapi-rgb-primary) / 0.4);
    }
    &:not(:empty):invalid {
        box-shadow: 0 0 0 4px rgb(var(--merapi-rgb-danger) / 0.4) !important;
    }
}

.form-input {
    &:is([type="checkbox"], [type="radio"]) {
        appearance: none;
        cursor: pointer;
        border: none;
        display: inline-block;
        border-radius: 10rem;
        &:focus {
            box-shadow:
                var(--merapi-shadow-alt),
                var(--merapi-shadow),
                0 0 0 6px rgb(var(--merapi-rgb-primary) / 0.4);
        }
    }

    &[type="checkbox"] {
        width: 1.2em;
        height: 1.2em;

        &.switch {
            width: 2em;
            height: 1em;
            position: relative;
            --merapi-shadow-alpha: var(--merapi-alpha-40);
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 0.2em);
                height: calc(100% + 0.2em);
                border-radius: 1rem;
                background-color: #b1b1b1;
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 50.221 10.64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-50.819 -154.05)'%3E%3Cg style='fill:%23ffffff;paint-order:stroke markers fill;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:0;stroke-width:19.844' aria-label='on off'%3E%3Cpath d='m54.333 164.69q-1.0724 0-1.8627-.39511-.77611-.40922-1.2136-1.1289-.43744-.73378-.43744-1.7074 0-1.27.56444-2.2578.56444-1.0019 1.5522-1.5663 1.0019-.57856 2.2719-.57856 1.0583 0 1.8486.39511.79022.39511 1.2136 1.1148.43744.71967.43744 1.7074 0 1.27-.56444 2.2719-.56444.98778-1.5522 1.5663-.97366.57856-2.2578.57856zm.08467-1.1853q.84667 0 1.5099-.40923.66322-.40922 1.0301-1.1148.381-.71967.381-1.6369 0-.98778-.57856-1.5381-.57856-.56444-1.651-.56444-.83256 0-1.4958.40922-.66322.39511-1.0442 1.1148-.381.70556-.381 1.6369 0 .97367.57856 1.5381.57856.56445 1.651.56445z'/%3E%3Cpath d='m65.1 157.05q.98778 0 1.651.39511.66322.39511.91722 1.1571.26811.74789.05644 1.8062l-.83256 4.191h-1.3547l.83256-4.191q.21167-1.016-.19756-1.5804-.40922-.56444-1.4676-.56444-1.0866 0-1.8062.59266-.71967.57856-.95956 1.7921l-.79022 3.9511h-1.3547l1.4817-7.4789h1.2982l-.42333 2.1449-.254-.57856q.53622-.84667 1.3547-1.2418.83256-.39511 1.8486-.39511z'/%3E%3Cpath d='m84.291 164.69q-1.0724 0-1.8627-.39511-.77611-.40922-1.2136-1.1289-.43744-.73378-.43744-1.7074 0-1.27.56444-2.2578.56444-1.0019 1.5522-1.5663 1.0019-.57856 2.2719-.57856 1.0583 0 1.8486.39511.79022.39511 1.2136 1.1148.43744.71967.43744 1.7074 0 1.27-.56444 2.2719-.56444.98778-1.5522 1.5663-.97367.57856-2.2578.57856zm.08467-1.1853q.84667 0 1.5099-.40923.66322-.40922 1.0301-1.1148.381-.71967.381-1.6369 0-.98778-.57856-1.5381-.57856-.56444-1.651-.56444-.83256 0-1.4958.40922-.66322.39511-1.0442 1.1148-.381.70556-.381 1.6369 0 .97367.57856 1.5381.57856.56445 1.651.56445z'/%3E%3Cpath d='m89.935 164.6 1.651-8.1844q.22578-1.1289.91722-1.7498.70556-.62089 1.8486-.62089.46567 0 .87489.127.42333.11289.69144.33867l-.56444 1.0019q-.39511-.35277-1.0019-.35277t-.97367.33866q-.35278.33867-.49389 1.0301l-.21167.97367-.07055.56444-1.3123 6.5334zm0-6.3641.21167-1.1148h4.7837l-.22578 1.1148z'/%3E%3Cpath d='m95.057 164.6 1.651-8.1844q.22578-1.1289.91722-1.7498.70556-.62089 1.8486-.62089.46567 0 .87488.127.42334.11289.69145.33867l-.56445 1.0019q-.39511-.35277-1.0019-.35277-.60678 0-.97367.33866-.35278.33867-.49389 1.0301l-.21167.97367-.07055.56444-1.3123 6.5334zm0-6.3641.21167-1.1148h4.7837l-.22578 1.1148z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.2s;
                z-index: 1;
                --merapi-shadow-alpha: var(--merapi-alpha-40);
                box-shadow: var(--merapi-shadow-inset);
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0em;
                transform: translateY(-50%);
                width: 1em;
                height: 1em;
                border-radius: 1rem;
                transition: 0.1s;
                transform: translateY(-50%);
                background-color: #ffffff;
                z-index: 2;
            }
            &:hover {
                &::after {
                    transform-origin: center;
                    top: calc(50% + 5%);
                    transform: scale(110%) translateY(-50%);
                }
            }
            &:checked {
                &::before {
                    background-color: var(--merapi-color-primary);
                }
                &::after {
                    left: calc(100% - 1em);
                }
            }
        }
    }

    &[type="radio"] {
        appearance: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        height: 1.2em;
        width: 1.2em;
        position: relative;
        box-shadow: var(--merapi-shadow-inset);
        transform: scale(1);
        transition: 0.15s;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 10em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background-color: rgb(var(--merapi-rgb-primary) / 0.8);
            transition: 0.15s;
        }
        &:checked {
            border: 3px solid rgb(var(--merapi-rgb-primary) / 0.8);
            transform: scale(1.25);
            box-shadow: none;
            &::before {
                transform: translate(-50%, -50%) scale(0.65);
            }
            &:focus {
                box-shadow:
                    var(--merapi-shadow-alt),
                    var(--merapi-shadow),
                    0 0 0 4px rgb(var(--merapi-rgb-primary) / 0.4);
            }
            &:focus-within {
                filter: none;
            }
        }
    }

    &[type="file"] {
        padding: 0.4rem 0.8rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        font-size: small;

        &::file-selector-button {
            box-shadow: var(--merapi-shadow-alt);
            background: rgb(var(--merapi-rgb-primary) / 0.4);
            color: white;
            border: none;
            padding: 0.2rem 0.6em;
            border-radius: 0.25rem;
            font-size: small;
            font-weight: 700;
            text-align: center;
            transition: 0.25s;
        }

        &:hover {
            &::file-selector-button {
                box-shadow: 0 0 4px rgb(var(--merapi-rgb-primary) / 0.4);
            }
        }
    }
}

.form-select {
    cursor: pointer;
    width: 100%;
    padding: 0.4rem 0.8rem;
    box-shadow: var(--merapi-shadow-alt), var(--merapi-shadow);
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0);
}

.form-textarea {
    position: relative;
    outline: none;
    cursor: text;
    width: 100%;
    min-height: 3em;
    padding: 0.4rem 0.8rem;
    box-shadow: var(--merapi-shadow-alt), var(--merapi-shadow);
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0);
}

label:has(.form-input),
label:has(.form-select),
label:has(.form-textarea) {
    cursor: pointer;
    user-select: none;
}
