body:has(.modal.showing),
body:has(.modal.show) {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 260;
    height: 100%;
    width: 100%;
    display: none;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    &.showing {
        display: flex;
        opacity: 1;

        & .modal-dialog {
            transition: 0.5s;
            opacity: 1;
            animation: bounceIn;
            animation-duration: 0.8s;
        }
        & .modal-backdrop {
            transition: 0.5s;
            opacity: 1;
        }
    }
    &.show {
        display: flex;
        opacity: 1;
        & .modal-dialog {
            transition: 0.5s;
            opacity: 1;
        }
        & .modal-backdrop {
            transition: 0.5s;
            opacity: 1;
        }
    }
    &.hiding {
        display: flex;
        & .modal-dialog {
            animation: bounceOut;
            animation-duration: 0.4s;
            transition-delay: 0.5s;
            opacity: 0;
        }
    }
    &.hide {
        display: none;
    }

    & .modal-dialog {
        position: relative;
        opacity: 0;
        width: 100%;
        max-width: 640px;
        border-radius: 0.25rem;
        background-color: rgb(255 255 255);
        box-shadow:
            var(--mp-shadow-alt),
            var(--mp-shadow),
            0 0 24px 0 rgb(var(--mp-rgb-primary) / 0.25);
        transition: 0.5s all;
        max-height: 99vh;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        & .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.75rem;
            & .modal-title {
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 700;
                padding-left: 0.75rem;
            }
            & .btn-close {
                padding: 0;
                position: relative;
                z-index: 100;
                width: 30px;
                height: 30px;
                border-radius: 0.25rem;
                border: none;
                box-shadow: none;
                transition: 0.25s;
                &::before {
                    content: "\f00d";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:focus {
                    box-shadow: 0 0 0 4px rgb(var(--merapi-rgb-primary) / 0.4);
                }
            }
        }
        & .modal-content {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        & .modal-footer {
            display: flex;
            justify-content: flex-end;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            & button {
                margin-inline-start: 0.75rem;
            }
        }
    }
    & .modal-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--mp-rgb-dark) / 0.25);
        z-index: -1;
        transition: 0.25s;
        transition-timing-function: ease-in-out;
        -webkit-backdrop-filter: blur(1.5px);
        backdrop-filter: blur(1.5px);
        opacity: 0;
    }

    & .shadow-offset-top {
        transition: .25s all;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15px;
        margin-top: -15px;
        z-index: 999;
        box-shadow: 0 0 50px rgb(0 0 0 / var(--offset-percentage));
    }
    & .shadow-offset-bottom {
        transition: .25s all;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15px;
        margin-bottom: -15px;
        z-index: 999;
        box-shadow: 0 0 50px rgb(0 0 0 / var(--offset-percentage));
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
        animation-timing-function: ease-in;
    }
    60% {
        transform: scale3d(1.03, 1.03, 1.03);
        animation-timing-function: ease-out;
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        animation-timing-function: ease-out;
    }
}

@keyframes bounceOut {
    0% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        transform: scale3d(0.95, 0.95, 0.95);
        animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        animation-timing-function: ease-out;
    }
}
