.tooltip {
    position: relative;
    overflow: visible;

    &.tooltip-top {
        & .tooltip-content {
            transform-origin: bottom;
            top: unset;
            right: unset;
            left: 50%;
            bottom: calc(100% + 0.5rem);
            transform: translateX(-50%) scale(0);
            margin-bottom: -1rem;
            &::after {
                top: 100%;
                left: 50%;
                right: unset;
                bottom: unset;
                transform: translateX(-50%);
                border-width: 0.5rem 0.5rem 0rem 0.5rem;
                border-color: white transparent transparent transparent;
            }
        }
        &:hover .tooltip-content {
            transform: translateX(-50%) scale(1);
            margin-bottom: 0;
        }
    }

    &.tooltip-right {
        & .tooltip-content {
            transform-origin: left;
            top: 50%;
            right: unset;
            bottom: unset;
            left: calc(100% + 0.5rem);
            transform: translateY(-50%) scale(0);
            margin-left: -1rem;
            &::after {
                top: 50%;
                right: 100%;
                bottom: unset;
                left: unset;
                transform: translateY(-50%);
                border-width: 0.5rem 0.5rem 0.5rem 0rem;
                border-color: transparent white transparent transparent;
            }
        }
        &:hover .tooltip-content {
            transform: translateY(-50%) scale(1);
            margin-left: 0;
        }
    }

    &.tooltip-bottom {
        & .tooltip-content {
            transform-origin: top;
            top: calc(100% + 0.5rem);
            right: unset;
            bottom: unset;
            left: 50%;
            transform: translateX(-50%) scale(0);
            margin-top: -1rem;
            &::after {
                top: unset;
                bottom: 100%;
                left: 50%;
                right: unset;
                transform: translateX(-50%);
                border-width: 0rem 0.5rem 0.5rem 0.5rem;
                border-color: transparent transparent white transparent;
            }
        }
        &:hover .tooltip-content {
            transform: translateX(-50%) scale(1);
            margin-top: 0;
        }
    }

    &.tooltip-left {
        & .tooltip-content {
            transform-origin: bottom right;
            top: 50%;
            right: calc(100% + 0.5rem);
            bottom: unset;
            left: unset;
            transform: translateY(-50%) scale(0);
            margin-right: -1rem;
            &::after {
                top: 50%;
                left: 100%;
                bottom: unset;
                right: unset;
                transform: translateY(-50%);
                border-width: 0.5rem 0rem 0.5rem 0.5rem;
                border-color: transparent transparent transparent white;
            }
        }
        &:hover .tooltip-content {
            transform: translateY(-50%) scale(1);
            margin-right: 0;
        }
    }

    & .tooltip-content {
        background-color: white;
        padding: 0.3rem 0.8rem;
        border-radius: 0.3rem;
        filter: drop-shadow(0 0 6px rgb(var(--merapi-rgb-dark) / 0.15));
        font-size: 0.65em;
        position: absolute;
        transition: 0.25s;
        transition-timing-function: ease-in-out;
        bottom: calc(100% + 0.5rem);
        right: 50%;
        transform: translateX(50%) scale(0);
        transform-origin: bottom right;
        z-index: 222;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.5rem 0.5rem 0 0.5rem;
            border-color: white transparent transparent transparent;
            transition: 0.25s;
            transform-origin: top right;
            z-index: 221;
        }
    }

    &:hover {
        & .tooltip-content {
            transform: translateX(50%) scale(1);
        }
    }
}
